* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* transition: background-color 0.5s ease, color 0.3s ease; */
  color: #fff;
  background: #202124;
}

body.white {
  transition: background-color 0.5s ease, color 0.3s ease;
  color: #202124 !important;
  background-color: #fff;
}

body.outIndex {
  color: #202124 !important;
  background-color: #fff !important;
}

body.outIndex .headerSVG {
  fill: #202124;
}
body.outIndex #header {
  background-color: #fff;
  border-bottom: 1px solid#c4c4c4;
}

header .headerSVG {
  fill: #fff;
}

header.dark .headerSVG {
  fill: #202124;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  background-color: transparent;
}
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

@property --rotate {
  syntax: '<angle>';
  initial-value: 132deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
